In [16]:
import pandas as pd
import datetime

def process(path_to_csv_file_1, path_to_csv_file_2):
    # Method Chain 1: load and process data for merging
    stocks_df = (
        pd.read_csv(path_to_csv_file_1)
        .rename(columns={'Adj Close': 'Adj_Close'})
        .assign(Date=pd.to_datetime(pd.read_csv(path_to_csv_file_1)['Date']))
    )
    
    # Method Chain 2: load and process data for merging
    iPhone_df = (
        pd.read_csv(path_to_csv_file_2)
        .assign(Release_Date=pd.to_datetime(pd.read_csv(path_to_csv_file_2)['Release_Date']))
    )
    
    # Method Chain 3: merge the two dataframes
    df = (
        pd.merge(stocks_df, iPhone_df, how='outer', left_on='Date', right_on='Release_Date')
        .dropna(subset=['Adj_Close'])
    )
    
    # Method Chain 4: create new columns, drop unneeded columns, and drop unneeded rows
    cutoff_date = pd.to_datetime('2000-01-01')
    df = (
        df.assign(Change = df['Close'] - df['Open'])
        .drop(columns=['Close', 'Open', 'Release_Date', 'High', 'Low', 'Volume'])
        .loc[df['Date'] >= cutoff_date]
    )
    return df

process("../../data/raw/AAPL_stock.csv", "../../data/raw/iPhones.csv")

            Date   Adj_Close iPhone    Change
4816  2000-01-03    0.854541    NaN  0.063058
4817  2000-01-04    0.782494    NaN -0.051339
4818  2000-01-05    0.793945    NaN  0.002232
4819  2000-01-06    0.725238    NaN -0.099331
4820  2000-01-07    0.759592    NaN  0.026786
...          ...         ...    ...       ...
10453 2022-05-06  157.279999    NaN  1.270004
10454 2022-05-09  152.059998    NaN -2.869995
10455 2022-05-10  154.509995    NaN -1.010009
10456 2022-05-11  146.500000    NaN -7.000000
10457 2022-05-12  142.559998    NaN -0.210006

[5642 rows x 4 columns]