# Davis Franklin

## Research question/interests

**I would like to further investigate Apple's market capitalization by specifically looking at the effect that the release of a new iPhone has on Apple's market value.** I am interested in tech and specifically, apple products, and would like to see what iPhones worked well and what iPhones did not work well for Apple. I am going to answer this research question by ploting iPhones on a graph of Apple's stock price and observing the how the stock market reacts during the release of iPhones.

In [2]:
import pandas as pd
pd.read_csv("../data/raw/AAPL.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.515213,493729600
1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.526476,601904800
2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.422664,552160000
3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.410790,477131200
4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.453412,447610800
...,...,...,...,...,...,...,...
3266,2022-12-22,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
3267,2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
3268,2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
3269,2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
3270,2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700

In [4]:
pd.read_csv("../data/raw/iPhones.csv")

               iPhone Release_Date
0      iPhone 1st Gen   09/01/2007
1           iPhone 3G   09/05/2008
2          iPhone 3Gs   08/05/2009
3            iPhone 4   07/05/2010
4           iPhone 4S    4/10/2011
5            iPhone 5   12/09/2012
6           iPhone 5c   10/09/2013
7           iPhone 5s   10/09/2013
8            iPhone 6   09/09/2014
9       iPhone 6 Plus   09/09/2014
10          iPhone 6s   09/09/2015
11     iPhone 6s Plus   09/09/2015
12          iPhone SE   21/03/2016
13           iPhone 7   07/09/2016
14      iPhone 7 Plus   07/09/2016
15           iPhone 8   12/09/2017
16      iPhone 8 Plus   12/09/2017
17           iPhone X   12/09/2017
18          iPhone XS   12/09/2018
19      iPhone XS Max   12/09/2018
20          iPhone XR   12/09/2018
21          iPhone 11   10/09/2019
22      iPhone 11 Pro   10/09/2019
23        iPhone SE 2   15/04/2020
24     iPhone 12 mini   13/10/2020
25         iPhone 12    13/10/2020
26         iPhone Pro   13/10/2020
27     iPhone Pro Max   13/10/2020
28     iPhone 13 mini   14/09/2021
29          iPhone 13   14/09/2021
30      iPhone 13 Pro   14/09/2021
31  iPhone 13 Pro Max   14/09/2021
32        iPhone SE 3   08/03/2022
33          iPhone 14   07/09/2022
34     iPhone 14 Plus   07/09/2022
35      iPhone 14 Pro   07/09/2022
36  iPhone 14 Pro Max   07/09/2022